---
layout: home
---

{% assign hh_restaurants = site.data.restaurants | where: "type", "happy_hour" -%}
{% assign unknown_restaurants = site.data.restaurants | where: "type", "unknown" -%}
{% assign byob_restaurants = site.data.restaurants | where: "type", "byob" -%}
{% assign days = site.data.days -%}
{% assign days = "Sun,Mon,Tue,Wed,Thu,Fri,Sat" | split: "," -%}

<script>
    const times = {{ hh_restaurants | map: "happy_hours" | map: "times" | jsonify }};
    const filterHappyHours = (day, hour) => {
        const table = document.getElementById("happyHours");
        const tr = table.tBodies[0].getElementsByTagName("tr");

        if (day === undefined && hour === undefined) {
            for (const row of tr) {
                row.style.display = "";
            }
            return;
        }

        for (let i = 0; i < tr.length; i++) {
            let display = "none";
            for (const timerange of times[i]) {
                const [daystart, dayend] = timerange[0];
                if (day === undefined || daystart === day || (dayend !== undefined && day >= daystart && day <= dayend)) {
                    const [timestart, timeend] = timerange[1];
                    if (hour === undefined || (hour >= timestart && hour < timeend)) {
                        display = "";
                        break;
                    }
                }
            }
            tr[i].style.display = display;
        }
    };
    window.addEventListener("change", () => {
        const day = document.getElementById("day").value;
        const hour = document.getElementById("hour").value;
        filterHappyHours(day === "" ? undefined : parseInt(day), hour === "" ? undefined : parseInt(hour));
    });
</script>

<p>
    Check restaurant website/Instagram for updates.
    Report any innaccuracies/updates via the <a href="https://forms.gle/F3xaERaDYpjN1Brz6">feedback form</a>.
    <ul>
        <li><a href="https://www.asburyparkhomeowners.org/">Asbury Park Homeowners Association</a></li>
        <li><a href="https://www.instagram.com/asburypark_happyhours"><img width="15" src="https://www.cdnlogo.com/logos/i/92/instagram.svg" /> @asburypark_happyhours</a></li>
    </ul>
</p>
Jump to:
<ul>
    <li><a href="#happyhour">Happy Hour restaurants</a></li>
    <li><a href="#byob">BYOB restaurants</a></li>
    <li><a href="#other">Other restaurants</a></li>
</ul>

<h2 id="happyhour">Happy Hours</h2>

<p>
<select name="day" id="day">
    <option value="" selected>All Days</option>
    <option value="0">Sun</option>
    <option value="1">Mon</option>
    <option value="2">Tue</option>
    <option value="3">Wed</option>
    <option value="4">Thu</option>
    <option value="5">Fri</option>
    <option value="6">Sat</option>
</select>

<select name="hour" id="hour">
    <option value="" selected>All Hours</option>
    <option value="900">9am</option>
    <option value="1000">10am</option>
    <option value="1100">11am</option>
    <option value="1200">12pm</option>
    <option value="1300">1pm</option>
    <option value="1400">2pm</option>
    <option value="1500">3pm</option>
    <option value="1600">4pm</option>
    <option value="1700">5pm</option>
    <option value="1800">6pm</option>
    <option value="1900">7pm</option>
    <option value="2000">8pm</option>
    <option value="2100">9pm</option>
    <option value="2200">10pm</option>
    <option value="2300">11pm</option>
</select>
</p>

<table id="happyHours">
    <thead>
        <tr>
            <th>Restaurant</th>
            <th>Map</th>
            <th>Insta</th>
            <th>HH Menu</th>
            <th>Happy Hours</th>
            <th>Verified</th>
        </tr>
    </thead>
    <tbody>
        {% for restaurant in hh_restaurants %}
            <tr>
                <td>
                    {% include restaurant.html restaurant=restaurant %}
                </td>
                <td>
                    {% include map.html restaurant=restaurant %}
                </td>
                <td>
                    {% include instagram.html restaurant=restaurant %}
                </td>
                <td>
                    {% if restaurant.happy_hours.menu_url %}
                        <a href="{{ restaurant.happy_hours.menu_url }}">Menu</a>
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            {% for hhtime in restaurant.happy_hours.times %}
                                {% assign dayrange = hhtime[0] -%}
                                {% assign startday = dayrange[0] | abs -%}
                                {% assign timerange = hhtime[1] -%}
                                {% assign starttime = timerange[0] | abs -%}
                                {% assign endtime = timerange[1] | abs -%}

                                {{ days[startday] -}}
                                {%- if dayrange.size == 2 -%}
                                    {% assign endday = dayrange[1] | abs -%}
                                    -{{ days[endday] }}
                                {% endif %}

                                {% include time.html time=starttime -%}-{%- include time.html time=endtime -%}

                                {%- unless forloop.last -%}
                                ,
                                {%- endunless %}
                            {% endfor %}
                        </li>
                        {% for hh in restaurant.happy_hours.description %}
                            <li>{{ hh }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ restaurant.verified }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<h2 id="byob">BYOB</h2>

<table>
    <thead>
        <tr>
            <th>Restaurant</th>
            <th>Map</th>
            <th>Insta</th>
            <th>Verified</th>
        </tr>
    </thead>
    <tbody>
        {% for restaurant in byob_restaurants %}
            <tr>
                <td>
                    {% include restaurant.html restaurant=restaurant %}
                </td>
                <td>
                    {% include map.html restaurant=restaurant %}
                </td>
                <td>
                    {% include instagram.html restaurant=restaurant %}
                </td>
                <td>{{ restaurant.verified }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2 id="other">Other</h2>

<table>
    <thead>
        <tr>
            <th>Restaurant</th>
            <th>Map</th>
            <th>Insta</th>
            <th>Verified</th>
        </tr>
    </thead>
    <tbody>
        {% for restaurant in unknown_restaurants %}
            <tr>
                <td>
                    {% include restaurant.html restaurant=restaurant %}
                </td>
                <td>
                    {% include map.html restaurant=restaurant %}
                </td>
                <td>
                    {% include instagram.html restaurant=restaurant %}
                </td>
                <td>{{ restaurant.verified }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
