{% import "macros.macro" as macros %}
{% set hh_restaurants = restaurants | filter(attribute="kind.HappyHour") -%}
{% set byob_restaurants = restaurants | filter(attribute="kind", value="Byob") -%}
{% set other_restaurants = restaurants | filter(attribute="kind", value="Other") -%}
{% set closed_restaurants = restaurants | filter(attribute="kind", value="Closed") -%}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link rel="stylesheet" href="style.css"/>
        <script async src="filter.js"></script>
        <title>Asbury Park Happy Hours</title>
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><strong>Asbury Park Happy Hours</strong></li>
              </ul>
              <ul>
                <li><a href="#restaurant-happy-hours">Happy Hours</a></li>
                <li><a href="#restaurant-byob">BYOB</a></li>
                <li><a href="#restaurant-other">Other</a></li>
                <li><a href="#restaurant-closed">Closed</a></li>
              </ul>
            </nav>
        </header>

        <main class="container-fluid">
            <details class="notice">
                <summary role="button">Submit updates</summary>
                Happy Hours change frequently,
                check restaurant website/Instagram for updates. Use the
                <a href="https://forms.gle/F3xaERaDYpjN1Brz6">feedback form</a>
                to report updates.
                <footer>
                    <small>Follow <a href="https://www.instagram.com/asburypark_happyhours"><img width="15" src="https://www.cdnlogo.com/logos/i/92/instagram.svg" /> @asburypark_happyhours</a></small>
                </footer>
            </details>

            <section id="restaurant-happy-hours">
                <h4>Happy Hours</h4>
                <div class="grid">
                    <select id="day" aria-label="Day" required>
                      <option value="" selected>All Days</option>
                      <option value="0">Sun</option>
                      <option value="1">Mon</option>
                      <option value="2">Tue</option>
                      <option value="3">Wed</option>
                      <option value="4">Thu</option>
                      <option value="5">Fri</option>
                      <option value="6">Sat</option>
                    </select>
                    <select id="hour" aria-label="Hour" required>
                        <option value="" selected>All Hours</option>
                        <option value="9">9am</option>
                        <option value="10">10am</option>
                        <option value="11">11am</option>
                        <option value="12">12pm</option>
                        <option value="13">1pm</option>
                        <option value="14">2pm</option>
                        <option value="15">3pm</option>
                        <option value="16">4pm</option>
                        <option value="17">5pm</option>
                        <option value="18">6pm</option>
                        <option value="19">7pm</option>
                        <option value="20">8pm</option>
                        <option value="21">9pm</option>
                        <option value="22">10pm</option>
                        <option value="23">11pm</option>
                        <option value="24">12am</option>
                        <option value="25">1am</option>
                    </select>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Links</th>
                            <th scope="col">Happy Hours</th>
                            <th scope="col">Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for restaurant in hh_restaurants -%}
                        {%- set happytimes = restaurant_convert_happytimes(happytimes=restaurant.kind.HappyHour.happytimes) -%}
                        <tr class="restaurant" {{ happytimes.restaurant_data_attributes }}>
                            <td>{{ macros::restaurant(restaurant=restaurant) }}</td>
                            <td class="links">
                                {{ macros::map(restaurant=restaurant) }}
                                {{ macros::instagram(restaurant=restaurant) }}
                                {{ macros::menu(restaurant=restaurant) }}
                            </td>
                            <td>
                                {% for humantime in happytimes.human_readable_times -%}
                                    <time class="dayhour" {{ humantime.data_attributes }}>{{ humantime.description }}</time>
                                {% endfor %}
                                <article>
                                  <ul>
                                      {% for desc in restaurant.kind.HappyHour.description -%}
                                          <li>{{ desc | escape }}</li>
                                      {% endfor %}
                                  </ul>
                                </article>
                            </td>
                            <td><time>{{ restaurant.verified }}</time></td>
                        </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </section>

            <section id="restaurant-byob">
                <h4>BYOB</h4>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Links</th>
                            <th scope="col">Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurant in byob_restaurants -%}
                            <tr>
                                <td>
                                    {{ macros::restaurant(restaurant=restaurant) }}
                                </td>
                                <td class="links">
                                    {{ macros::map(restaurant=restaurant) }}
                                    {{ macros::instagram(restaurant=restaurant) }}
                                </td>
                                <td><time>{{ restaurant.verified }}</time></td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </section>

            <section id="restaurant-closed">
                <h4>Closed</h4>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Links</th>
                            <th scope="col">Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurant in closed_restaurants -%}
                            <tr>
                                <td>
                                    {{ macros::restaurant(restaurant=restaurant) }}
                                </td>
                                <td class="links">
                                    {{ macros::map(restaurant=restaurant) }}
                                    {{ macros::instagram(restaurant=restaurant) }}
                                </td>
                                <td><time>{{ restaurant.verified }}</time></td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </section>

            <section id="restaurant-other">
                <h4>Other</h4>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Links</th>
                            <th scope="col">Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurant in other_restaurants -%}
                            <tr>
                                <td>
                                    {{ macros::restaurant(restaurant=restaurant) }}
                                </td>
                                <td>
                                    {{ macros::map(restaurant=restaurant) }}
                                    {{ macros::instagram(restaurant=restaurant) }}
                                </td>
                                <td><time>{{ restaurant.verified }}</time></td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </body>
</html>
