{% import "macros.macro" as macros %}
{% set hh_restaurants = restaurants | filter(attribute="kind.HappyHour") -%}
{% set byob_restaurants = restaurants | filter(attribute="kind", value="Byob") -%}
{% set other_restaurants = restaurants | filter(attribute="kind", value="Other") -%}
{% set closed_restaurants = restaurants | filter(attribute="kind", value="Closed") -%}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link rel="stylesheet" href="style.css"/>
        <script async src="filter.js"></script>
        <title>Asbury Park Happy Hours</title>
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><strong>Asbury Park Happy Hours</strong></li>
              </ul>
              <ul>
                <li><a href="#restaurant-happy-hours">Happy Hours</a></li>
                <li><a href="#restaurant-byob">BYOB</a></li>
                <li><a href="#restaurant-other">Other</a></li>
                <li><a href="#restaurant-closed">Closed</a></li>
              </ul>
            </nav>
        </header>

        <main class="container-fluid">
            <details class="notice">
                <summary role="button">Submit updates</summary>
                Happy Hours change frequently,
                check restaurant website/Instagram for updates. Use the
                <a href="https://forms.gle/F3xaERaDYpjN1Brz6">feedback form</a>
                to report updates.
                <footer>
                    <small>Follow <a href="https://www.instagram.com/asburypark_happyhours"><img width="15" src="https://www.cdnlogo.com/logos/i/92/instagram.svg" /> @asburypark_happyhours</a></small>
                </footer>
            </details>

            <section id="restaurant-happy-hours">
                <h4>Happy Hours</h4>
                <form>
                  <fieldset class="grid">
                    <select id="day" aria-label="Day" required>
                      <option value="" selected>All Days</option>
                      <option value="0">Sun</option>
                      <option value="1">Mon</option>
                      <option value="2">Tue</option>
                      <option value="3">Wed</option>
                      <option value="4">Thu</option>
                      <option value="5">Fri</option>
                      <option value="6">Sat</option>
                    </select>
                    <select id="hour" aria-label="Hour" required>
                        <option value="" selected>All Hours</option>
                        {% for hour in hours -%}
                            {% if hour == 12 %}
                                {%- set hourdisplay = "12pm" -%}
                            {%- elif hour < 12 -%}
                                {%- set hourdisplay = hour ~ "am" -%}
                            {%- elif hour > 24 -%}
                                {% set newhour = hour - 24 -%}
                                {%- set hourdisplay = newhour ~ "am" -%}
                            {%- elif hour > 12 -%}
                                {% set newhour = hour - 12 -%}
                                {%- set hourdisplay = newhour ~ "pm" -%}
                            {%- endif %}
                            <option value="{{ hour }}">{{ hourdisplay }}</option>
                        {%- endfor %}
                    </select>
                  </fieldset>
                </form>

                <div class="restaurants">
                    {% for restaurant in hh_restaurants -%}
                        {%- set happytimes = restaurant_convert_happytimes(happytimes=restaurant.kind.HappyHour.happytimes) -%}
                        <article class="restaurant hh" {{ happytimes.restaurant_data_attributes }}>
                            <header>{{ macros::restaurant(restaurant=restaurant) }}</header>
                            <content>
                                {% for humantime in happytimes.human_readable_times -%}
                                    <time class="dayhour" {{ humantime.data_attributes }}>{{ humantime.description }}</time>
                                {% endfor %}
                                <ul>
                                    {% for desc in restaurant.kind.HappyHour.description -%}
                                        <li>{{ desc | escape }}</li>
                                    {% endfor %}
                                </ul>
                            </content>
                            <footer>
                                {{ macros::map(restaurant=restaurant) }}
                                {{ macros::instagram(restaurant=restaurant) }}
                                {{ macros::menu(restaurant=restaurant) }}
                            </footer>
                        </article>
                    {%- endfor %}
                </div>
            </section>

            <section id="restaurant-byob">
                <h4>BYOB</h4>
                <div class="restaurants">
                    {% for restaurant in byob_restaurants -%}
                        <article class="restaurant">
                            <header>{{ macros::restaurant(restaurant=restaurant) }}</header>
                            <content>BYOB</content>
                            <footer>
                                {{ macros::map(restaurant=restaurant) }}
                                {{ macros::instagram(restaurant=restaurant) }}
                            </footer>
                        </article>
                    {%- endfor %}
                </div>
            </section>

            <section id="restaurant-closed">
                <h4>Closed</h4>
                <div class="restaurants">
                    {% for restaurant in closed_restaurants -%}
                        <article class="restaurant">
                            <header>{{ macros::restaurant(restaurant=restaurant) }}</header>
                            <content>Closed</content>
                            <footer>
                                {{ macros::map(restaurant=restaurant) }}
                                {{ macros::instagram(restaurant=restaurant) }}
                            </footer>
                        </article>
                    {%- endfor %}
                </div>
            </section>

            <section id="restaurant-other">
                <h4>Other</h4>
                <div class="restaurants">
                    {% for restaurant in other_restaurants -%}
                        <article class="restaurant">
                            <header>{{ macros::restaurant(restaurant=restaurant) }}</header>
                            <content>Other</content>
                            <footer>
                                {{ macros::map(restaurant=restaurant) }}
                                {{ macros::instagram(restaurant=restaurant) }}
                            </footer>
                        </article>
                    {%- endfor %}
                </div>
            </section>
        </main>
    </body>
</html>
