.restaurants {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
}

article.restaurant {
    flex: shrink;
    display: flex;
    flex-flow: column nowrap;
}

article.restaurant > content {
    flex: auto;
}

article.restaurant > header,
article.restaurant > footer {
    flex: initial;
}

article.restaurant > footer > a {
    margin-right: 0.3rem;
}

time {
    display: inline-block;
    white-space: nowrap;
}

time.dayhour {
    border-radius: var(--pico-border-radius);
    background: var(--pico-code-kbd-background-color);
    color: var(--pico-code-kbd-color);
    font-weight: var(--pico-font-weight);
    line-height: initial;
    padding: 0.375rem;
    margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
    details.notice {
        width: 50%;
    }
}

{% for hour in hours -%}
:root[data-selected-hour="{{ hour }}"] article.restaurant.hh:not([data-hours~="{{ hour }}"]) {
    display: none;
}
:root[data-selected-hour="{{ hour }}"] time.dayhour:not([data-hours~="{{ hour }}"]) {
  background: var(--pico-del-color);
  text-decoration: line-through;
}
{% endfor %}

{% for day in days -%}
:root[data-selected-day="{{ day }}"] article.restaurant.hh:not([data-days~="{{ day }}"]) {
    display: none;
}
:root[data-selected-day="{{ day }}"] time.dayhour:not([data-days~="{{ day }}"]) {
  background: var(--pico-del-color);
  text-decoration: line-through;
}
{% endfor %}

{% for day in days -%}
    {%- for hour in hours -%}
        {%- set dayhour = day ~ "-" ~ hour %}
:root[data-selected-dayhour="{{ dayhour }}"] article.restaurant.hh:not([data-daytimes~="{{ dayhour }}"]) {
    display: none;
}
:root[data-selected-dayhour="{{ dayhour }}"] time.dayhour:not([data-daytimes~="{{ dayhour }}"])  {
    background: var(--pico-del-color);
    text-decoration: line-through;
}
    {% endfor -%}
{%- endfor %}
