.restaurants {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
}

article.restaurant {
    display: flex;
    flex-flow: column nowrap;
}

article.restaurant > content {
    flex: auto;
}

article.restaurant > header,
article.restaurant > footer {
    flex: initial;
}

article.restaurant > footer > a {
    margin-right: 0.3rem;
}

time {
    display: inline-block;
    white-space: nowrap;
}

time.dayhour {
    border-radius: var(--pico-border-radius);
    background: var(--pico-code-kbd-background-color);
    color: var(--pico-code-kbd-color);
    font-weight: var(--pico-font-weight);
    line-height: initial;
    padding: 0.375rem;
    margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
    details.notice {
        width: 50%;
    }
}

{% for hour in rangehours -%}
:root[data-selected-hour="{{ hour }}"] .restaurant.hh:not([data-hours~="{{ hour }}"])
{%- if not loop.last -%},
{%- endif %}
{% endfor -%}
{
    display: none;
}

{% for hour in rangehours -%}
:root[data-selected-hour="{{ hour }}"] time.dayhour:not([data-hours~="{{ hour }}"])
{%- if not loop.last -%},
{%- endif %}
{% endfor -%}
{
    background: var(--pico-del-color);
    text-decoration: line-through;
}

{% for day in rangedays -%}
:root[data-selected-day="{{ day }}"] .restaurant.hh:not([data-days~="{{ day }}"])
{%- if not loop.last -%},
{%- endif %}
{% endfor -%}
{
    display: none;
}

{% for day in rangedays -%}
:root[data-selected-day="{{ day }}"] time.dayhour:not([data-days~="{{ day }}"])
{%- if not loop.last -%},
{%- endif %}
{% endfor -%}
{
  background: var(--pico-del-color);
  text-decoration: line-through;
}

{% for day in rangedays -%}
    {%- for hour in rangehours -%}
        {%- set dayhour = day ~ "-" ~ hour -%}
:root[data-selected-dayhour="{{ dayhour }}"] .restaurant.hh:not([data-daytimes~="{{ dayhour }}"])
        {%- if not loop.last -%},
        {%- endif %}
    {% endfor -%}
{% endfor %}
{
    display: none;
}

{% for day in rangedays -%}
    {%- for hour in rangehours -%}
        {%- set dayhour = day ~ "-" ~ hour -%}
:root[data-selected-dayhour="{{ dayhour }}"] time.dayhour:not([data-daytimes~="{{ dayhour }}"])
        {%- if not loop.last -%},
        {%- endif %}
    {% endfor -%}
{% endfor %}
{
    background: var(--pico-del-color);
    text-decoration: line-through;
}
