.restaurants {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
}

article.restaurant {
    display: flex;
    flex-flow: column nowrap;
}

article.restaurant > content {
    flex: auto;
}

article.restaurant > header,
article.restaurant > footer {
    flex: initial;
}

article.restaurant > footer > a {
    margin-right: 0.3rem;
}

time {
    display: inline-block;
    white-space: nowrap;
}

time.dayhour {
    border-radius: var(--pico-border-radius);
    background: var(--pico-code-kbd-background-color);
    color: var(--pico-code-kbd-color);
    font-weight: var(--pico-font-weight);
    line-height: initial;
    padding: 0.375rem;
    margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
    details.notice {
        width: 50%;
    }
}

{% set alldays = rangedays | concat(with="all") %}
{% set allhours = rangehours | concat(with="all") %}
{%- set dayhours = [] -%}
{%- for day in alldays -%}
    {%- for hour in allhours -%}
        {# skip "all-all" #}
        {%- set skip = day == "all" and hour == "all" -%}
        {%- if not skip %}
            {%- set_global dayhours = dayhours | concat(with=day ~ "-" ~ hour) -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor %}

{% for dayhour in dayhours -%}
:root[data-selected-dayhour="{{ dayhour }}"] .restaurant.hh:not([data-daytimes~="{{ dayhour }}"])
    {%- if not loop.last -%},
    {%- endif %}
{% endfor %}
{
    display: none;
}

{% for dayhour in dayhours -%}
:root[data-selected-dayhour="{{ dayhour }}"] time.dayhour:not([data-daytimes~="{{ dayhour }}"])
    {%- if not loop.last -%},
    {%- endif %}
{% endfor %}
{
    background: var(--pico-del-color);
    text-decoration: line-through;
}
