[
    (
        name: "AP Rooftop",
        url: "https://www.aprooftop.com",
        map_id: "f6RFthcQQrifNNwn8",
        instagram_id: "ap.rooftop",
        verified: "2025-06-17",
        kind: HappyHour(
            description: [
                "$5 drafts, $9 wine, $10 cocktails",
                "food specials",
            ],
            menu_url: Some("https://cdn.mcloones.com/pdf/ap-rooftop/menus/2025/Happy-Hour-at-AP-Rooftop.pdf?v=1"),
            happytimes: [
                Range((Mon, Fri), (1400, 1700)),
            ],
        ),
    ),
    (
        name: "Ada\'s Gojjo",
        url: "https://adagojjo.com/",
        map_id: "nJi3bs3Sy1EGjbgX7",
        instagram_id: "adagojjo",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Asbury Ale House",
        url: "https://asburyalehouse.com/",
        map_id: "iJx2hGS5UWZpFTgr9",
        instagram_id: "asburyalehouse",
        verified: "2025-08-28",
        kind: Other,
    ),
    (
        name: "Asbury Festhalle & Biergarten",
        url: "https://www.asburybiergarten.com/",
        map_id: "pCUcJKrohgecvbse8",
        instagram_id: "apbiergarten",
        verified: "2024-12-30",
        kind: Closed,
    ),
    (
        name: "Asbury Lanes Diner",
        url: "https://www.asburylanes.com/the-diner/",
        map_id: "SbJ9RtgSfWNwAjED7",
        instagram_id: "asburylanesdiner",
        verified: "2024-06-24",
        kind: Other,
    ),
    (
        name: "Asbury Park Brewery",
        url: "http://asburyparkbrewery.com/",
        map_id: "C69mQgAcAupAL1wu7",
        instagram_id: "asburyparkbrewery",
        verified: "2024-12-30",
        kind: Other,
    ),
    (
        name: "Los Barbaros Birria",
        url: "https://www.losbarbarosbirriabelmar.com/",
        map_id: "KrCGgovXgu4D73ea9",
        instagram_id: "losbarbaros_birria",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Barrio Costero",
        url: "https://www.barriocostero.com/",
        map_id: "5sL6b3uXFjzcmY3U6",
        instagram_id: "barriocosteroap",
        verified: "2025-04-15",
        kind: HappyHour(
            description: [
                "Taco Tuesday: 2 Tacos + 1 margy for $17",
                "Thursday: All-Night Happy Hour",
            ],
            menu_url: Some("https://www.instagram.com/p/DCXdcm6vunR/?img_index=1"),
            happytimes: [
                Single(Sun, (1500, 2100)),
                Single(Tue, (1600, 1800)),
                Single(Thu, (1600, 2200)),
                Single(Fri, (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Beach Bar",
        url: "https://apboardwalk.com/portfolio/the-beach-bar/",
        map_id: "2gsC5P3KwnT5ZLhCA",
        instagram_id: "beachbarasbury",
        verified: "2025-04-15",
        kind: Other,
    ),
    (
        name: "Belmontes Ristorante",
        url: "http://belmontesap.com/",
        map_id: "uZy6Ctyafocmjp859",
        instagram_id: "belmontesap",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "The Berkeley Bar",
        url: "https://www.berkeleyhotelnj.com/dining/berkeley-bar",
        map_id: "Gf2YqmmdMf7AC5tm9",
        instagram_id: "berkeleyhotelnj",
        verified: "2024-06-24",
        kind: Other,
    ),
    (
        name: "The Berkeley Backyard",
        url: "https://www.berkeleyhotelnj.com/dining/berkeley-backyard",
        map_id: "GJxiy8KaxHSxXWgJ6",
        instagram_id: "theberkeleybackyard",
        verified: "2025-04-15",
        kind: Other,
    ),
    (
        name: "The Black Swan",
        url: "https://www.theblackswanap.com/",
        map_id: "JiKYhYvKsK2ysBZs9",
        instagram_id: "theblackswanap",
        verified: "2025-07-28",
        kind: HappyHour(
            description: [
                "50% off all alcohol, HH food menu",
                "Wed 2nd burger $5",
            ],
            menu_url: Some("https://www.theblackswanap.com/happy-hour"),
            happytimes: [
                Single(Mon, (1600, 1800)),
                Single(Tue, (1600, 2200)),
                Range((Wed, Fri), (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Bond Street Bar",
        url: "https://bondstreetap.com/",
        map_id: "Gz3BEW7RpHn7iBpd6",
        instagram_id: "bondstreetbar_ap",
        verified: "2024-04-16",
        kind: Other,
    ),
    (
        name: "Brando\'s Citi Cucina",
        url: "https://brandosnj.com/",
        map_id: "QB8LVem8uGnJD9gXA",
        instagram_id: "brandosnj",
        verified: "2024-04-16",
        kind: Other,
    ),
    (
        name: "Capitoline",
        url: "https://capitolineap.com/",
        map_id: "HYVrZQRjA4NaWxpS9",
        instagram_id: "capitoline_ap",
        verified: "2025-07-07",
        kind: HappyHour(
            description: [
                "HH food menu",
                "$5 beer, $7 wine, $10 martini, $8 mocktails, food specials",
            ],
            menu_url: Some("https://www.instagram.com/p/DLr6HNXu-bp"),
            happytimes: [
                Range((Wed, Thu), (1700, 1900)),
                Single(Fri, (1400, 1700)),
                Single(Sun, (1200, 2100)),
            ],
        ),
    ),
    (
        name: "Catbird Asbury Park",
        url: "https://www.catbirdap.com/",
        map_id: "BciWyaJFGhoMhtPaA",
        instagram_id: "catbird_ap",
        verified: "2024-05-09",
        kind: Byob,
    ),
    (
        name: "The Chat & Nibble",
        url: "https://www.thechatandnibble.com/",
        map_id: "az1YzgUhcHuLcZCU9",
        instagram_id: "chatnnibble",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Cross & Orange",
        url: "https://crossandorangeap.com/",
        map_id: "7DnUL7wWoUacvad88",
        instagram_id: "crossandorange",
        verified: "2025-07-07",
        kind: HappyHour(
            description: [
                "$4/$5 drafts, $6 wine, $7 well",
                "new food specials every 2 weeks",
            ],
            menu_url: Some("https://www.instagram.com/p/DKaWtFaPJBf/"),
            happytimes: [
                Range((Wed, Thu), (1600, 2100)),
            ],
        ),
    ),
    (
        name: "Crust & Crumble Pizzeria",
        url: "https://crustandcrumble.com/",
        map_id: "kzehCAuoz21Ls8bM8",
        instagram_id: "crust_and_crumble",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Deal Lake Bar + Co",
        url: "https://www.deallakebarco.com/",
        map_id: "SoejiCRDyHyMpaNc7",
        instagram_id: "deallakebarco",
        verified: "2025-04-08",
        kind: HappyHour(
            description: [
                "Half off all alcohol",
                "Food specials",
            ],
            menu_url: Some("https://www.instagram.com/p/DHTn90PAI-F/"),
            happytimes: [
                Range((Mon, Fri), (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Dolce Fantasia",
        url: "http://www.dolcefantasia.us/",
        map_id: "J13Qdy8hNtmdkv3u6",
        instagram_id: "dolce_fantasia_asbury_park",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "El Rey",
        url: "https://www.elreyasburypark.com/",
        map_id: "zHPGBUj4HRDzZYvY7",
        instagram_id: "elreyasbury",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Flavia\'s Cucina Romana",
        url: "https://www.flaviascucina.com/",
        map_id: "XuU2Kvk8XJZhfDEK6",
        instagram_id: "flaviascucina",
        verified: "2024-04-16",
        kind: Other,
    ),
    (
        name: "Georgies Bar",
        url: "https://georgiesbarap.com/",
        map_id: "wf4CE24A9YpvtMEn6",
        instagram_id: "georgiesbarap",
        verified: "2025-09-11",
        kind: HappyHour(
            description: [
                "$6 house drinks",
                "Every Tue, every other Wed"
            ],
            menu_url: Some("https://www.instagram.com/p/DOZLPQ4kr7H/"),
            happytimes: [
                Single(Tue, (1500, 1900)),
                Single(Wed, (1500, 1900)),
            ],
        ),
    ),
    (
        name: "El Guacamole",
        url: "https://www.facebook.com/ELGUACAMOLEPOINTPLEASANT",
        map_id: "8aM3229uuRQ5BNYz8",
        instagram_id: "guacamoleap",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Hadaka",
        url: "https://hadakanj.com/",
        map_id: "manwyZKgebzGTf3u7",
        instagram_id: "hadakaasbury",
        verified: "2024-06-20",
        kind: Byob,
    ),
    (
        name: "Homesick",
        url: "https://www.lovehomesick.com",
        map_id: "ec8WZbz7MxZEA7j99",
        instagram_id: "lovehomesick",
        verified: "2025-07-28",
        kind: HappyHour(
            description: [
                "$4 beer, $6 wine, cocktail/food specials",
            ],
            menu_url: Some("https://www.lovehomesick.com/menus"),
            happytimes: [
                Range((Mon, Fri), (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Iron Whale",
        url: "https://www.ironwhalenj.com/",
        map_id: "XTH1TCX3uhLAhEnA7",
        instagram_id: "ironwhale_asburypark",
        verified: "2025-07-28",
        kind: HappyHour(
            description: [
                "small plate specials, $3 off beer, $6 marg, $4 off wine, $5 off cocktails",
            ],
            menu_url: Some("https://cdn.mcloones.com/pdf/iron-whale/menus/2025/IW-Happy-Hour-2025.pdf"),
            happytimes: [
                Range((Mon, Fri), (1300, 1600)),
            ],
        ),
    ),
    (
        name: "Jimmy\'s Italian",
        url: "https://www.jimmysitalianrestaurant.com/",
        map_id: "rMbtjApqgxraj5ap8",
        instagram_id: "jimmys_asbury",
        verified: "2024-04-16",
        kind: Other,
    ),
    (
        name: "Johnny Mac",
        url: "https://www.johnnymacbar.com/",
        map_id: "syPQ7ghpEdEWFyoN8",
        instagram_id: "johnnymacs_nj",
        verified: "2024-09-06",
        kind: HappyHour(
            description: [
                "free pizza every day",
                "free omelettes Sun",
            ],
            menu_url: None,
            happytimes: [
                Single(Sun, (1000, 1500)),
            ],
        ),
    ),
    (
        name: "Judy & Harry\'s",
        url: "https://www.judyandharrys.com/",
        map_id: "eZceK9eaBrbwcjJbA",
        instagram_id: "judyandharrys",
        verified: "2025-03-21",
        kind: Other,
    ),
    (
        name: "Kim Maries",
        url: "https://www.kimmarieseatndrinkaway.com/",
        map_id: "gfUG4XZcvStqBq8v9",
        instagram_id: "kimmaries_nj",
        verified: "2025-07-28",
        kind: HappyHour(
            description: [
                "$5 local drafts, $6 wine/sangria, $7 mixed drinks, HH food menu",
            ],
            menu_url: Some("https://www.kimmarieseatndrinkaway.com/menus/#happy"),
            happytimes: [
                Range((Mon, Fri), (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Kimchee Mama",
        url: "https://kimchimama.net/",
        map_id: "4YV4PneHARUzeh9V8",
        instagram_id: "kimchimama_dalgona",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Laylow",
        url: "https://www.laylowap.com/",
        map_id: "25nt6Rkk8iBUR47n9",
        instagram_id: "laylowap",
        verified: "2025-04-15",
        kind: HappyHour(
            description: [
                "$9 Classic Cocktails",
            ],
            menu_url: None,
            happytimes: [
                Single(Sun, (1700, 1900)),
            ],
        ),
    ),
    (
        name: "Lola\'s European Cafe",
        url: "https://lolaseuropeancafe.com/",
        map_id: "nvSvi1HHxoQ6Cw6k6",
        instagram_id: "lolascafeasbury",
        verified: "2024-04-16",
        kind: Other,
    ),
    (
        name: "Loteria",
        url: "https://loteriaap.com/",
        map_id: "kYgmLGxAsaK3uoRv6",
        instagram_id: "loteria_ap",
        verified: "2025-05-16",
        kind: HappyHour(
            description: [
                "Food and drink specials",
            ],
            menu_url: Some("https://www.instagram.com/p/DJrS6dPx4Lb/"),
            happytimes: [
                Single(Thu, (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Lilly and Lu\'s Café",
        url: "https://www.berkeleyhotelnj.com/dining/lilly-and-lus-cafe",
        map_id: "CQ6CvYhExkAgfAjCA",
        instagram_id: "lillyandluscafe",
        verified: "2025-09-01",
        kind: Other,
    ),
    (
        name: "Lovesick",
        url: "https://www.dearlovesick.com/",
        map_id: "ec8WZbz7MxZEA7j99",
        instagram_id: "dear_lovesick",
        verified: "2025-07-28",
        kind: HappyHour(
            description: [
                "$5 beers, $12 cocktails",
            ],
            menu_url: Some("https://www.dearlovesick.com/menus"),
            happytimes: [
                Range((Mon, Fri), (1700, 1900)),
            ],
        ),
    ),
    (
        name: "Low Dive",
        url: "https://www.lowdiveap.com/",
        map_id: "6NRfiYxD1AJGhDi28",
        instagram_id: "lowdiveap",
        verified: "2025-04-15",
        kind: Other,
    ),
    (
        name: "Makanas",
        url: "https://makanasnj.com/",
        map_id: "wRPocr4voWtbPVYg7",
        instagram_id: "makanasnj",
        verified: "2024-05-23",
        kind: Byob,
    ),
    (
        name: "Mark\'s Place",
        url: "http://places.singleplatform.com/marks-place--restaurant/menu",
        map_id: "3pexMCp7gf1ASqJQ8",
        instagram_id: "marksplace_",
        verified: "2024-05-10",
        kind: Byob,
    ),
    (
        name: "Mayan Restaurant",
        url: "https://mayanrestaurantnj.com/",
        map_id: "JioSZjzq6bhphvmq5",
        instagram_id: "mayan._.restaurant",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Mogo",
        url: "https://eatmogo.com/",
        map_id: "tnb9hdof5Dksa4En6",
        instagram_id: "eatmogo",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Moonstruck",
        url: "http://moonstrucknj.com/",
        map_id: "tp8aof7cfVMNs6nB7",
        instagram_id: "moonstrucknj",
        verified: "2024-04-16",
        kind: Other,
    ),
    (
        name: "Mutiny BBQ Co",
        url: "https://www.mutinybbq.com/",
        map_id: "he93Auh5UBhJt9FU8",
        instagram_id: "mutinybbq",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Mutiny Beach",
        url: "http://mutinybeach.com/",
        map_id: "MWMV9Gbqs16cmrvj8",
        instagram_id: "mutinybeach",
        verified: "2025-04-21",
        kind: Other,
    ),
    (
        name: "The Palmetto",
        url: "https://www.palmettoasburypark.com/",
        map_id: "ZtPN9i7Caahubo4K7",
        instagram_id: "palmettoasburypark",
        verified: "2025-04-15",
        kind: HappyHour(
            description: [
                "Half off all drinks",
            ],
            menu_url: Some("https://www.instagram.com/p/DHq9TjyudAZ"),
            happytimes: [
                Range((Mon, Fri), (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Paradise Nightclub",
        url: "https://www.paradisenj.com/",
        map_id: "fr6nuVHmWi692GPJ7",
        instagram_id: "paradisenj",
        verified: "2025-01-02",
        kind: Other,
    ),
    (
        name: "Pascal & Sabine",
        url: "https://pascalandsabine.com/",
        map_id: "gygCnArxk4vf6X9U9",
        instagram_id: "pascalandsabine",
        verified: "2025-06-20",
        kind: HappyHour(
            description: [
                "Happy Hour, Apero Hour Fri&Sat",
            ],
            menu_url: Some("https://www.pascalandsabine.com/menus"),
            happytimes: [
                Range((Sun, Thu), (1600, 1800)),
                Range((Fri, Sat), (1500, 1800)),
            ],
        ),
    ),
    (
        name: "Plaza Garibaldi",
        url: "https://garibaldimexicanfood.com/",
        map_id: "nzCxBiSRdJ3X3Qvj7",
        instagram_id: "plazagaribaldinj",
        verified: "2024-05-10",
        kind: Byob,
    ),
    (
        name: "Plaza Tapatia",
        url: "https://tapatiarestaurant.com/",
        map_id: "RFU8QwfbpqvaMiXR7",
        instagram_id: "plazatapatia",
        verified: "2024-09-07",
        kind: HappyHour(
            description: [
                "Fajita & Sangria specials",
            ],
            menu_url: Some("https://www.instagram.com/p/C_gu0WyvaCA/"),
            happytimes: [
                Single(Wed, (1600, 2200)),
            ],
        ),
    ),
    (
        name: "Porta",
        url: "https://pizzaporta.com/asbury-park/",
        map_id: "EwjBKgVGcwUNQF6V8",
        instagram_id: "portaasburypark",
        verified: "2025-06-20",
        kind: HappyHour(
            description: [
                "$5 select draft, $7 wine, $10 cocktails, HH food menu",
            ],
            menu_url: Some("https://www.pizzaporta.com/menus"),
            happytimes: [
                Range((Mon, Fri), (1600, 1800)),
            ],
        ),
    ),
    (
        name: "R Bar",
        url: "https://www.itsrbar.com/",
        map_id: "t4XRRU3E1MvC32hF8",
        instagram_id: "rbar_asburypark",
        verified: "2025-04-15",
        kind: HappyHour(
            description: [
                "$15 sample platter, $3 Narragansett, $5 Guinness, cocktails",
            ],
            menu_url: Some("https://www.instagram.com/p/DE5KI-RAKlN/"),
            happytimes: [
                Single(Fri, (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Reyla",
        url: "https://www.heyreyla.com/",
        map_id: "mkGxdhbCtuL2to288",
        instagram_id: "heyreyla",
        verified: "2025-04-15",
        kind: HappyHour(
            description: [
                "$9 cocktails, $7 wine",
            ],
            menu_url: Some("https://www.heyreyla.com/drink"),
            happytimes: [
                Single(Wed, (1600, 2200)),
                Range((Thu, Fri), (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Rice Asian Cuisine",
        url: "https://www.riceasiancuisinenj.com",
        map_id: "Kpj22wFYzDHWLaCn7",
        instagram_id: "riceasiancuisine",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Robinson Ale House",
        url: "https://www.therobinsonalehouseasburypark.com/",
        map_id: "8uA51tyubw2hYxZB9",
        instagram_id: "robinsonalehouse",
        verified: "2025-05-19",
        kind: HappyHour(
            description: [
                "$4 draft, $7 marg,sangria,wine, $8 cocktails, half price appetizers",
            ],
            menu_url: Some("https://cdn.mcloones.com/pdf/robinson-ale-house-asbury-park/menus/2025/R_AP_HappyHour_042525.pdf"),
            happytimes: [
                Range((Mon, Fri), (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Salvation",
        url: "https://www.theasburyhotel.com/eat-and-drink/salvation",
        map_id: "wsNi3pFngY3SzyGp8",
        instagram_id: "theasburyhotel",
        verified: "2024-04-16",
        kind: Other,
    ),
    (
        name: "Shoreline Social Club & Grille",
        url: "https://www.berkeleyhotelnj.com/dining/shoreline-social-club-grille",
        map_id: "ZKGEUCVnsKRUQsRy9",
        instagram_id: "shorelinesocialasbury",
        verified: "2025-04-15",
        kind: Other,
    ),
    (
        name: "Shucked by Local 130 Seafood",
        url: "https://www.facebook.com/ShuckedbyLocal130Seafood",
        map_id: "8Kz19Vu3cJwbSsxbA",
        instagram_id: "shuckedbylocal130",
        verified: "2025-09-02",
        kind: Other,
    ),
    (
        name: "Soundbooth",
        url: "https://www.theasburyhotel.com/eat-and-drink/soundbooth",
        map_id: "wsNi3pFngY3SzyGp8",
        instagram_id: "theasburyhotel",
        verified: "2024-04-16",
        kind: Other,
    ),
    (
        name: "Speakeatery",
        url: "https://www.thespeakeatery.com/",
        map_id: "6wmP8jSWp2yAKhvj6",
        instagram_id: "speakeatery",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Stella Marina",
        url: "https://stellamarinarestaurant.com",
        map_id: "hRnXVr3yCqFiSbCF9",
        instagram_id: "stellamarinaasbury",
        verified: "2025-09-02",
        kind: HappyHour(
            description: [
                "specials",
            ],
            menu_url: Some("https://www.instagram.com/p/DLDAQVXxlGd/"),
            happytimes: [
                Range((Mon, Fri), (1200, 1800)),
                Range((Sat, Sun), (1200, 1600)),
            ],
        ),
    ),
    (
        name: "Swimcrush AP",
        url: "https://www.swimcrushap.com",
        map_id: "it6W5GhgwGuwSPLeA",
        instagram_id: "swimcrushap",
        verified: "2025-06-13",
        kind: HappyHour(
            description: [
                "happy hour",
            ],
            menu_url: Some("https://www.instagram.com/p/DK2seKsxTVd/"),
            happytimes: [
                Range((Mon, Fri), (1500, 1700)),
            ],
        ),
    ),
    (
        name: "TJ\'s Pizza",
        url: "https://ordertjspizzanj.com/",
        map_id: "ADnVDz4vzMVZS9oC6",
        instagram_id: "t.j.spizzeria",
        verified: "2024-05-10",
        kind: Byob,
    ),
    (
        name: "Taka",
        url: "https://www.takaasbury.com/",
        map_id: "kJDQbZV4uT9qDXKV8",
        instagram_id: "takarestaurant",
        verified: "2024-04-16",
        kind: Other,
    ),
    (
        name: "Talula\'s",
        url: "https://talulaspizza.com/",
        map_id: "NTV7Dkwq2BadhE7MA",
        instagram_id: "talulaspizza",
        verified: "2025-04-15",
        kind: HappyHour(
            description: [
                "$5 rotating draft, $6 house wine, $10 gin&jams, $8 lambrusco",
                "Discounted pizza/snacks",
            ],
            menu_url: Some("https://talulaspizza.com/blogs/events/happy-hour-at-the-bar"),
            happytimes: [
                Range((Mon, Thu), (1630, 1830)),
            ],
        ),
    ),
    (
        name: "Tic Taco Taqueria",
        url: "https://tictacotaquerianj.com/",
        map_id: "jxmmiVdsJTBH4mcb7",
        instagram_id: "tictacotaquerianj",
        verified: "2024-04-16",
        kind: Byob,
    ),
    (
        name: "Tillie\'s Palace",
        url: "https://www.tilliespalace.com/",
        map_id: "G9HG6w3j5HUZtN8M8",
        instagram_id: "tilliespalace",
        verified: "2024-10-29",
        kind: Other,
    ),
    (
        name: "Tim McCloone\'s Supper Club",
        url: "https://www.timmcloonessupperclub.com/",
        map_id: "HNmHHXMfccyHuyVQ7",
        instagram_id: "timmcloonessupperclub",
        verified: "2024-04-16",
        kind: Other,
    ),
    (
        name: "Toast",
        url: "https://toastcitydiner.com/",
        map_id: "JoWAhfz8SV5FcBrK9",
        instagram_id: "toastcitydiner_",
        verified: "2024-09-08",
        kind: Byob,
    ),
    (
        name: "Watermark",
        url: "https://watermarkap.com/",
        map_id: "vzuUmqZoxs7Z5Ly89",
        instagram_id: "watermark_asbury_park",
        verified: "2025-07-18",
        kind: HappyHour(
            description: [
                "cocktails",
            ],
            menu_url: Some("https://menu.thesafemenu.com/watermark/menus/happy-hour/"),
            happytimes: [
                Range((Mon, Thu), (1600, 1800)),
            ],
        ),
    ),
    (
        name: "Wild Air Beerworks",
        url: "https://www.wildairbeer.com/",
        map_id: "tWmEn3BdZ7WtWfaP6",
        instagram_id: "wildairbeer",
        verified: "2024-12-30",
        kind: Other,
    ),
    (
        name: "Wonder Bar",
        url: "https://wonderbarasburypark.com/",
        map_id: "zgrzscpJsi14gpDeA",
        instagram_id: "thewonderbarofficial",
        verified: "2024-04-16",
        kind: Other,
    ),
]
