.restaurants {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
}

article.restaurant {
    display: flex;
    flex-flow: column nowrap;
}

article.restaurant > content {
    flex: auto;
}

article.restaurant > header,
article.restaurant > footer {
    flex: initial;
}

article.restaurant > footer > a {
    margin-right: 0.3rem;
}

time {
    display: inline-block;
    white-space: nowrap;
}

time.dayhour {
    border-radius: var(--pico-border-radius);
    background: var(--pico-code-kbd-background-color);
    color: var(--pico-code-kbd-color);
    font-weight: var(--pico-font-weight);
    line-height: initial;
    padding: 0.375rem;
    margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
    details.notice {
        width: 50%;
    }
}

.restaurant.hh[data-daytimes] {
    transition:
        opacity 300ms,
        display 300ms allow-discrete;
    opacity: 1;
    @starting-style {
        opacity: 1;
    }
}

:root[data-selected-dayhour="0-9"] .restaurant.hh:not([data-daytimes~="0-9"]),
:root[data-selected-dayhour="0-10"] .restaurant.hh:not([data-daytimes~="0-10"]),
:root[data-selected-dayhour="0-11"] .restaurant.hh:not([data-daytimes~="0-11"]),
:root[data-selected-dayhour="0-12"] .restaurant.hh:not([data-daytimes~="0-12"]),
:root[data-selected-dayhour="0-13"] .restaurant.hh:not([data-daytimes~="0-13"]),
:root[data-selected-dayhour="0-14"] .restaurant.hh:not([data-daytimes~="0-14"]),
:root[data-selected-dayhour="0-15"] .restaurant.hh:not([data-daytimes~="0-15"]),
:root[data-selected-dayhour="0-16"] .restaurant.hh:not([data-daytimes~="0-16"]),
:root[data-selected-dayhour="0-17"] .restaurant.hh:not([data-daytimes~="0-17"]),
:root[data-selected-dayhour="0-18"] .restaurant.hh:not([data-daytimes~="0-18"]),
:root[data-selected-dayhour="0-19"] .restaurant.hh:not([data-daytimes~="0-19"]),
:root[data-selected-dayhour="0-20"] .restaurant.hh:not([data-daytimes~="0-20"]),
:root[data-selected-dayhour="0-21"] .restaurant.hh:not([data-daytimes~="0-21"]),
:root[data-selected-dayhour="0-22"] .restaurant.hh:not([data-daytimes~="0-22"]),
:root[data-selected-dayhour="0-23"] .restaurant.hh:not([data-daytimes~="0-23"]),
:root[data-selected-dayhour="0-24"] .restaurant.hh:not([data-daytimes~="0-24"]),
:root[data-selected-dayhour="0-25"] .restaurant.hh:not([data-daytimes~="0-25"]),
:root[data-selected-dayhour="0-all"] .restaurant.hh:not([data-daytimes~="0-all"]),
:root[data-selected-dayhour="1-9"] .restaurant.hh:not([data-daytimes~="1-9"]),
:root[data-selected-dayhour="1-10"] .restaurant.hh:not([data-daytimes~="1-10"]),
:root[data-selected-dayhour="1-11"] .restaurant.hh:not([data-daytimes~="1-11"]),
:root[data-selected-dayhour="1-12"] .restaurant.hh:not([data-daytimes~="1-12"]),
:root[data-selected-dayhour="1-13"] .restaurant.hh:not([data-daytimes~="1-13"]),
:root[data-selected-dayhour="1-14"] .restaurant.hh:not([data-daytimes~="1-14"]),
:root[data-selected-dayhour="1-15"] .restaurant.hh:not([data-daytimes~="1-15"]),
:root[data-selected-dayhour="1-16"] .restaurant.hh:not([data-daytimes~="1-16"]),
:root[data-selected-dayhour="1-17"] .restaurant.hh:not([data-daytimes~="1-17"]),
:root[data-selected-dayhour="1-18"] .restaurant.hh:not([data-daytimes~="1-18"]),
:root[data-selected-dayhour="1-19"] .restaurant.hh:not([data-daytimes~="1-19"]),
:root[data-selected-dayhour="1-20"] .restaurant.hh:not([data-daytimes~="1-20"]),
:root[data-selected-dayhour="1-21"] .restaurant.hh:not([data-daytimes~="1-21"]),
:root[data-selected-dayhour="1-22"] .restaurant.hh:not([data-daytimes~="1-22"]),
:root[data-selected-dayhour="1-23"] .restaurant.hh:not([data-daytimes~="1-23"]),
:root[data-selected-dayhour="1-24"] .restaurant.hh:not([data-daytimes~="1-24"]),
:root[data-selected-dayhour="1-25"] .restaurant.hh:not([data-daytimes~="1-25"]),
:root[data-selected-dayhour="1-all"] .restaurant.hh:not([data-daytimes~="1-all"]),
:root[data-selected-dayhour="2-9"] .restaurant.hh:not([data-daytimes~="2-9"]),
:root[data-selected-dayhour="2-10"] .restaurant.hh:not([data-daytimes~="2-10"]),
:root[data-selected-dayhour="2-11"] .restaurant.hh:not([data-daytimes~="2-11"]),
:root[data-selected-dayhour="2-12"] .restaurant.hh:not([data-daytimes~="2-12"]),
:root[data-selected-dayhour="2-13"] .restaurant.hh:not([data-daytimes~="2-13"]),
:root[data-selected-dayhour="2-14"] .restaurant.hh:not([data-daytimes~="2-14"]),
:root[data-selected-dayhour="2-15"] .restaurant.hh:not([data-daytimes~="2-15"]),
:root[data-selected-dayhour="2-16"] .restaurant.hh:not([data-daytimes~="2-16"]),
:root[data-selected-dayhour="2-17"] .restaurant.hh:not([data-daytimes~="2-17"]),
:root[data-selected-dayhour="2-18"] .restaurant.hh:not([data-daytimes~="2-18"]),
:root[data-selected-dayhour="2-19"] .restaurant.hh:not([data-daytimes~="2-19"]),
:root[data-selected-dayhour="2-20"] .restaurant.hh:not([data-daytimes~="2-20"]),
:root[data-selected-dayhour="2-21"] .restaurant.hh:not([data-daytimes~="2-21"]),
:root[data-selected-dayhour="2-22"] .restaurant.hh:not([data-daytimes~="2-22"]),
:root[data-selected-dayhour="2-23"] .restaurant.hh:not([data-daytimes~="2-23"]),
:root[data-selected-dayhour="2-24"] .restaurant.hh:not([data-daytimes~="2-24"]),
:root[data-selected-dayhour="2-25"] .restaurant.hh:not([data-daytimes~="2-25"]),
:root[data-selected-dayhour="2-all"] .restaurant.hh:not([data-daytimes~="2-all"]),
:root[data-selected-dayhour="3-9"] .restaurant.hh:not([data-daytimes~="3-9"]),
:root[data-selected-dayhour="3-10"] .restaurant.hh:not([data-daytimes~="3-10"]),
:root[data-selected-dayhour="3-11"] .restaurant.hh:not([data-daytimes~="3-11"]),
:root[data-selected-dayhour="3-12"] .restaurant.hh:not([data-daytimes~="3-12"]),
:root[data-selected-dayhour="3-13"] .restaurant.hh:not([data-daytimes~="3-13"]),
:root[data-selected-dayhour="3-14"] .restaurant.hh:not([data-daytimes~="3-14"]),
:root[data-selected-dayhour="3-15"] .restaurant.hh:not([data-daytimes~="3-15"]),
:root[data-selected-dayhour="3-16"] .restaurant.hh:not([data-daytimes~="3-16"]),
:root[data-selected-dayhour="3-17"] .restaurant.hh:not([data-daytimes~="3-17"]),
:root[data-selected-dayhour="3-18"] .restaurant.hh:not([data-daytimes~="3-18"]),
:root[data-selected-dayhour="3-19"] .restaurant.hh:not([data-daytimes~="3-19"]),
:root[data-selected-dayhour="3-20"] .restaurant.hh:not([data-daytimes~="3-20"]),
:root[data-selected-dayhour="3-21"] .restaurant.hh:not([data-daytimes~="3-21"]),
:root[data-selected-dayhour="3-22"] .restaurant.hh:not([data-daytimes~="3-22"]),
:root[data-selected-dayhour="3-23"] .restaurant.hh:not([data-daytimes~="3-23"]),
:root[data-selected-dayhour="3-24"] .restaurant.hh:not([data-daytimes~="3-24"]),
:root[data-selected-dayhour="3-25"] .restaurant.hh:not([data-daytimes~="3-25"]),
:root[data-selected-dayhour="3-all"] .restaurant.hh:not([data-daytimes~="3-all"]),
:root[data-selected-dayhour="4-9"] .restaurant.hh:not([data-daytimes~="4-9"]),
:root[data-selected-dayhour="4-10"] .restaurant.hh:not([data-daytimes~="4-10"]),
:root[data-selected-dayhour="4-11"] .restaurant.hh:not([data-daytimes~="4-11"]),
:root[data-selected-dayhour="4-12"] .restaurant.hh:not([data-daytimes~="4-12"]),
:root[data-selected-dayhour="4-13"] .restaurant.hh:not([data-daytimes~="4-13"]),
:root[data-selected-dayhour="4-14"] .restaurant.hh:not([data-daytimes~="4-14"]),
:root[data-selected-dayhour="4-15"] .restaurant.hh:not([data-daytimes~="4-15"]),
:root[data-selected-dayhour="4-16"] .restaurant.hh:not([data-daytimes~="4-16"]),
:root[data-selected-dayhour="4-17"] .restaurant.hh:not([data-daytimes~="4-17"]),
:root[data-selected-dayhour="4-18"] .restaurant.hh:not([data-daytimes~="4-18"]),
:root[data-selected-dayhour="4-19"] .restaurant.hh:not([data-daytimes~="4-19"]),
:root[data-selected-dayhour="4-20"] .restaurant.hh:not([data-daytimes~="4-20"]),
:root[data-selected-dayhour="4-21"] .restaurant.hh:not([data-daytimes~="4-21"]),
:root[data-selected-dayhour="4-22"] .restaurant.hh:not([data-daytimes~="4-22"]),
:root[data-selected-dayhour="4-23"] .restaurant.hh:not([data-daytimes~="4-23"]),
:root[data-selected-dayhour="4-24"] .restaurant.hh:not([data-daytimes~="4-24"]),
:root[data-selected-dayhour="4-25"] .restaurant.hh:not([data-daytimes~="4-25"]),
:root[data-selected-dayhour="4-all"] .restaurant.hh:not([data-daytimes~="4-all"]),
:root[data-selected-dayhour="5-9"] .restaurant.hh:not([data-daytimes~="5-9"]),
:root[data-selected-dayhour="5-10"] .restaurant.hh:not([data-daytimes~="5-10"]),
:root[data-selected-dayhour="5-11"] .restaurant.hh:not([data-daytimes~="5-11"]),
:root[data-selected-dayhour="5-12"] .restaurant.hh:not([data-daytimes~="5-12"]),
:root[data-selected-dayhour="5-13"] .restaurant.hh:not([data-daytimes~="5-13"]),
:root[data-selected-dayhour="5-14"] .restaurant.hh:not([data-daytimes~="5-14"]),
:root[data-selected-dayhour="5-15"] .restaurant.hh:not([data-daytimes~="5-15"]),
:root[data-selected-dayhour="5-16"] .restaurant.hh:not([data-daytimes~="5-16"]),
:root[data-selected-dayhour="5-17"] .restaurant.hh:not([data-daytimes~="5-17"]),
:root[data-selected-dayhour="5-18"] .restaurant.hh:not([data-daytimes~="5-18"]),
:root[data-selected-dayhour="5-19"] .restaurant.hh:not([data-daytimes~="5-19"]),
:root[data-selected-dayhour="5-20"] .restaurant.hh:not([data-daytimes~="5-20"]),
:root[data-selected-dayhour="5-21"] .restaurant.hh:not([data-daytimes~="5-21"]),
:root[data-selected-dayhour="5-22"] .restaurant.hh:not([data-daytimes~="5-22"]),
:root[data-selected-dayhour="5-23"] .restaurant.hh:not([data-daytimes~="5-23"]),
:root[data-selected-dayhour="5-24"] .restaurant.hh:not([data-daytimes~="5-24"]),
:root[data-selected-dayhour="5-25"] .restaurant.hh:not([data-daytimes~="5-25"]),
:root[data-selected-dayhour="5-all"] .restaurant.hh:not([data-daytimes~="5-all"]),
:root[data-selected-dayhour="6-9"] .restaurant.hh:not([data-daytimes~="6-9"]),
:root[data-selected-dayhour="6-10"] .restaurant.hh:not([data-daytimes~="6-10"]),
:root[data-selected-dayhour="6-11"] .restaurant.hh:not([data-daytimes~="6-11"]),
:root[data-selected-dayhour="6-12"] .restaurant.hh:not([data-daytimes~="6-12"]),
:root[data-selected-dayhour="6-13"] .restaurant.hh:not([data-daytimes~="6-13"]),
:root[data-selected-dayhour="6-14"] .restaurant.hh:not([data-daytimes~="6-14"]),
:root[data-selected-dayhour="6-15"] .restaurant.hh:not([data-daytimes~="6-15"]),
:root[data-selected-dayhour="6-16"] .restaurant.hh:not([data-daytimes~="6-16"]),
:root[data-selected-dayhour="6-17"] .restaurant.hh:not([data-daytimes~="6-17"]),
:root[data-selected-dayhour="6-18"] .restaurant.hh:not([data-daytimes~="6-18"]),
:root[data-selected-dayhour="6-19"] .restaurant.hh:not([data-daytimes~="6-19"]),
:root[data-selected-dayhour="6-20"] .restaurant.hh:not([data-daytimes~="6-20"]),
:root[data-selected-dayhour="6-21"] .restaurant.hh:not([data-daytimes~="6-21"]),
:root[data-selected-dayhour="6-22"] .restaurant.hh:not([data-daytimes~="6-22"]),
:root[data-selected-dayhour="6-23"] .restaurant.hh:not([data-daytimes~="6-23"]),
:root[data-selected-dayhour="6-24"] .restaurant.hh:not([data-daytimes~="6-24"]),
:root[data-selected-dayhour="6-25"] .restaurant.hh:not([data-daytimes~="6-25"]),
:root[data-selected-dayhour="6-all"] .restaurant.hh:not([data-daytimes~="6-all"]),
:root[data-selected-dayhour="all-9"] .restaurant.hh:not([data-daytimes~="all-9"]),
:root[data-selected-dayhour="all-10"] .restaurant.hh:not([data-daytimes~="all-10"]),
:root[data-selected-dayhour="all-11"] .restaurant.hh:not([data-daytimes~="all-11"]),
:root[data-selected-dayhour="all-12"] .restaurant.hh:not([data-daytimes~="all-12"]),
:root[data-selected-dayhour="all-13"] .restaurant.hh:not([data-daytimes~="all-13"]),
:root[data-selected-dayhour="all-14"] .restaurant.hh:not([data-daytimes~="all-14"]),
:root[data-selected-dayhour="all-15"] .restaurant.hh:not([data-daytimes~="all-15"]),
:root[data-selected-dayhour="all-16"] .restaurant.hh:not([data-daytimes~="all-16"]),
:root[data-selected-dayhour="all-17"] .restaurant.hh:not([data-daytimes~="all-17"]),
:root[data-selected-dayhour="all-18"] .restaurant.hh:not([data-daytimes~="all-18"]),
:root[data-selected-dayhour="all-19"] .restaurant.hh:not([data-daytimes~="all-19"]),
:root[data-selected-dayhour="all-20"] .restaurant.hh:not([data-daytimes~="all-20"]),
:root[data-selected-dayhour="all-21"] .restaurant.hh:not([data-daytimes~="all-21"]),
:root[data-selected-dayhour="all-22"] .restaurant.hh:not([data-daytimes~="all-22"]),
:root[data-selected-dayhour="all-23"] .restaurant.hh:not([data-daytimes~="all-23"]),
:root[data-selected-dayhour="all-24"] .restaurant.hh:not([data-daytimes~="all-24"]),
:root[data-selected-dayhour="all-25"] .restaurant.hh:not([data-daytimes~="all-25"]) {
    display: none;
    opacity: 0;
}

:root[data-selected-dayhour="0-9"] time.dayhour:not([data-daytimes~="0-9"]),
:root[data-selected-dayhour="0-10"] time.dayhour:not([data-daytimes~="0-10"]),
:root[data-selected-dayhour="0-11"] time.dayhour:not([data-daytimes~="0-11"]),
:root[data-selected-dayhour="0-12"] time.dayhour:not([data-daytimes~="0-12"]),
:root[data-selected-dayhour="0-13"] time.dayhour:not([data-daytimes~="0-13"]),
:root[data-selected-dayhour="0-14"] time.dayhour:not([data-daytimes~="0-14"]),
:root[data-selected-dayhour="0-15"] time.dayhour:not([data-daytimes~="0-15"]),
:root[data-selected-dayhour="0-16"] time.dayhour:not([data-daytimes~="0-16"]),
:root[data-selected-dayhour="0-17"] time.dayhour:not([data-daytimes~="0-17"]),
:root[data-selected-dayhour="0-18"] time.dayhour:not([data-daytimes~="0-18"]),
:root[data-selected-dayhour="0-19"] time.dayhour:not([data-daytimes~="0-19"]),
:root[data-selected-dayhour="0-20"] time.dayhour:not([data-daytimes~="0-20"]),
:root[data-selected-dayhour="0-21"] time.dayhour:not([data-daytimes~="0-21"]),
:root[data-selected-dayhour="0-22"] time.dayhour:not([data-daytimes~="0-22"]),
:root[data-selected-dayhour="0-23"] time.dayhour:not([data-daytimes~="0-23"]),
:root[data-selected-dayhour="0-24"] time.dayhour:not([data-daytimes~="0-24"]),
:root[data-selected-dayhour="0-25"] time.dayhour:not([data-daytimes~="0-25"]),
:root[data-selected-dayhour="0-all"] time.dayhour:not([data-daytimes~="0-all"]),
:root[data-selected-dayhour="1-9"] time.dayhour:not([data-daytimes~="1-9"]),
:root[data-selected-dayhour="1-10"] time.dayhour:not([data-daytimes~="1-10"]),
:root[data-selected-dayhour="1-11"] time.dayhour:not([data-daytimes~="1-11"]),
:root[data-selected-dayhour="1-12"] time.dayhour:not([data-daytimes~="1-12"]),
:root[data-selected-dayhour="1-13"] time.dayhour:not([data-daytimes~="1-13"]),
:root[data-selected-dayhour="1-14"] time.dayhour:not([data-daytimes~="1-14"]),
:root[data-selected-dayhour="1-15"] time.dayhour:not([data-daytimes~="1-15"]),
:root[data-selected-dayhour="1-16"] time.dayhour:not([data-daytimes~="1-16"]),
:root[data-selected-dayhour="1-17"] time.dayhour:not([data-daytimes~="1-17"]),
:root[data-selected-dayhour="1-18"] time.dayhour:not([data-daytimes~="1-18"]),
:root[data-selected-dayhour="1-19"] time.dayhour:not([data-daytimes~="1-19"]),
:root[data-selected-dayhour="1-20"] time.dayhour:not([data-daytimes~="1-20"]),
:root[data-selected-dayhour="1-21"] time.dayhour:not([data-daytimes~="1-21"]),
:root[data-selected-dayhour="1-22"] time.dayhour:not([data-daytimes~="1-22"]),
:root[data-selected-dayhour="1-23"] time.dayhour:not([data-daytimes~="1-23"]),
:root[data-selected-dayhour="1-24"] time.dayhour:not([data-daytimes~="1-24"]),
:root[data-selected-dayhour="1-25"] time.dayhour:not([data-daytimes~="1-25"]),
:root[data-selected-dayhour="1-all"] time.dayhour:not([data-daytimes~="1-all"]),
:root[data-selected-dayhour="2-9"] time.dayhour:not([data-daytimes~="2-9"]),
:root[data-selected-dayhour="2-10"] time.dayhour:not([data-daytimes~="2-10"]),
:root[data-selected-dayhour="2-11"] time.dayhour:not([data-daytimes~="2-11"]),
:root[data-selected-dayhour="2-12"] time.dayhour:not([data-daytimes~="2-12"]),
:root[data-selected-dayhour="2-13"] time.dayhour:not([data-daytimes~="2-13"]),
:root[data-selected-dayhour="2-14"] time.dayhour:not([data-daytimes~="2-14"]),
:root[data-selected-dayhour="2-15"] time.dayhour:not([data-daytimes~="2-15"]),
:root[data-selected-dayhour="2-16"] time.dayhour:not([data-daytimes~="2-16"]),
:root[data-selected-dayhour="2-17"] time.dayhour:not([data-daytimes~="2-17"]),
:root[data-selected-dayhour="2-18"] time.dayhour:not([data-daytimes~="2-18"]),
:root[data-selected-dayhour="2-19"] time.dayhour:not([data-daytimes~="2-19"]),
:root[data-selected-dayhour="2-20"] time.dayhour:not([data-daytimes~="2-20"]),
:root[data-selected-dayhour="2-21"] time.dayhour:not([data-daytimes~="2-21"]),
:root[data-selected-dayhour="2-22"] time.dayhour:not([data-daytimes~="2-22"]),
:root[data-selected-dayhour="2-23"] time.dayhour:not([data-daytimes~="2-23"]),
:root[data-selected-dayhour="2-24"] time.dayhour:not([data-daytimes~="2-24"]),
:root[data-selected-dayhour="2-25"] time.dayhour:not([data-daytimes~="2-25"]),
:root[data-selected-dayhour="2-all"] time.dayhour:not([data-daytimes~="2-all"]),
:root[data-selected-dayhour="3-9"] time.dayhour:not([data-daytimes~="3-9"]),
:root[data-selected-dayhour="3-10"] time.dayhour:not([data-daytimes~="3-10"]),
:root[data-selected-dayhour="3-11"] time.dayhour:not([data-daytimes~="3-11"]),
:root[data-selected-dayhour="3-12"] time.dayhour:not([data-daytimes~="3-12"]),
:root[data-selected-dayhour="3-13"] time.dayhour:not([data-daytimes~="3-13"]),
:root[data-selected-dayhour="3-14"] time.dayhour:not([data-daytimes~="3-14"]),
:root[data-selected-dayhour="3-15"] time.dayhour:not([data-daytimes~="3-15"]),
:root[data-selected-dayhour="3-16"] time.dayhour:not([data-daytimes~="3-16"]),
:root[data-selected-dayhour="3-17"] time.dayhour:not([data-daytimes~="3-17"]),
:root[data-selected-dayhour="3-18"] time.dayhour:not([data-daytimes~="3-18"]),
:root[data-selected-dayhour="3-19"] time.dayhour:not([data-daytimes~="3-19"]),
:root[data-selected-dayhour="3-20"] time.dayhour:not([data-daytimes~="3-20"]),
:root[data-selected-dayhour="3-21"] time.dayhour:not([data-daytimes~="3-21"]),
:root[data-selected-dayhour="3-22"] time.dayhour:not([data-daytimes~="3-22"]),
:root[data-selected-dayhour="3-23"] time.dayhour:not([data-daytimes~="3-23"]),
:root[data-selected-dayhour="3-24"] time.dayhour:not([data-daytimes~="3-24"]),
:root[data-selected-dayhour="3-25"] time.dayhour:not([data-daytimes~="3-25"]),
:root[data-selected-dayhour="3-all"] time.dayhour:not([data-daytimes~="3-all"]),
:root[data-selected-dayhour="4-9"] time.dayhour:not([data-daytimes~="4-9"]),
:root[data-selected-dayhour="4-10"] time.dayhour:not([data-daytimes~="4-10"]),
:root[data-selected-dayhour="4-11"] time.dayhour:not([data-daytimes~="4-11"]),
:root[data-selected-dayhour="4-12"] time.dayhour:not([data-daytimes~="4-12"]),
:root[data-selected-dayhour="4-13"] time.dayhour:not([data-daytimes~="4-13"]),
:root[data-selected-dayhour="4-14"] time.dayhour:not([data-daytimes~="4-14"]),
:root[data-selected-dayhour="4-15"] time.dayhour:not([data-daytimes~="4-15"]),
:root[data-selected-dayhour="4-16"] time.dayhour:not([data-daytimes~="4-16"]),
:root[data-selected-dayhour="4-17"] time.dayhour:not([data-daytimes~="4-17"]),
:root[data-selected-dayhour="4-18"] time.dayhour:not([data-daytimes~="4-18"]),
:root[data-selected-dayhour="4-19"] time.dayhour:not([data-daytimes~="4-19"]),
:root[data-selected-dayhour="4-20"] time.dayhour:not([data-daytimes~="4-20"]),
:root[data-selected-dayhour="4-21"] time.dayhour:not([data-daytimes~="4-21"]),
:root[data-selected-dayhour="4-22"] time.dayhour:not([data-daytimes~="4-22"]),
:root[data-selected-dayhour="4-23"] time.dayhour:not([data-daytimes~="4-23"]),
:root[data-selected-dayhour="4-24"] time.dayhour:not([data-daytimes~="4-24"]),
:root[data-selected-dayhour="4-25"] time.dayhour:not([data-daytimes~="4-25"]),
:root[data-selected-dayhour="4-all"] time.dayhour:not([data-daytimes~="4-all"]),
:root[data-selected-dayhour="5-9"] time.dayhour:not([data-daytimes~="5-9"]),
:root[data-selected-dayhour="5-10"] time.dayhour:not([data-daytimes~="5-10"]),
:root[data-selected-dayhour="5-11"] time.dayhour:not([data-daytimes~="5-11"]),
:root[data-selected-dayhour="5-12"] time.dayhour:not([data-daytimes~="5-12"]),
:root[data-selected-dayhour="5-13"] time.dayhour:not([data-daytimes~="5-13"]),
:root[data-selected-dayhour="5-14"] time.dayhour:not([data-daytimes~="5-14"]),
:root[data-selected-dayhour="5-15"] time.dayhour:not([data-daytimes~="5-15"]),
:root[data-selected-dayhour="5-16"] time.dayhour:not([data-daytimes~="5-16"]),
:root[data-selected-dayhour="5-17"] time.dayhour:not([data-daytimes~="5-17"]),
:root[data-selected-dayhour="5-18"] time.dayhour:not([data-daytimes~="5-18"]),
:root[data-selected-dayhour="5-19"] time.dayhour:not([data-daytimes~="5-19"]),
:root[data-selected-dayhour="5-20"] time.dayhour:not([data-daytimes~="5-20"]),
:root[data-selected-dayhour="5-21"] time.dayhour:not([data-daytimes~="5-21"]),
:root[data-selected-dayhour="5-22"] time.dayhour:not([data-daytimes~="5-22"]),
:root[data-selected-dayhour="5-23"] time.dayhour:not([data-daytimes~="5-23"]),
:root[data-selected-dayhour="5-24"] time.dayhour:not([data-daytimes~="5-24"]),
:root[data-selected-dayhour="5-25"] time.dayhour:not([data-daytimes~="5-25"]),
:root[data-selected-dayhour="5-all"] time.dayhour:not([data-daytimes~="5-all"]),
:root[data-selected-dayhour="6-9"] time.dayhour:not([data-daytimes~="6-9"]),
:root[data-selected-dayhour="6-10"] time.dayhour:not([data-daytimes~="6-10"]),
:root[data-selected-dayhour="6-11"] time.dayhour:not([data-daytimes~="6-11"]),
:root[data-selected-dayhour="6-12"] time.dayhour:not([data-daytimes~="6-12"]),
:root[data-selected-dayhour="6-13"] time.dayhour:not([data-daytimes~="6-13"]),
:root[data-selected-dayhour="6-14"] time.dayhour:not([data-daytimes~="6-14"]),
:root[data-selected-dayhour="6-15"] time.dayhour:not([data-daytimes~="6-15"]),
:root[data-selected-dayhour="6-16"] time.dayhour:not([data-daytimes~="6-16"]),
:root[data-selected-dayhour="6-17"] time.dayhour:not([data-daytimes~="6-17"]),
:root[data-selected-dayhour="6-18"] time.dayhour:not([data-daytimes~="6-18"]),
:root[data-selected-dayhour="6-19"] time.dayhour:not([data-daytimes~="6-19"]),
:root[data-selected-dayhour="6-20"] time.dayhour:not([data-daytimes~="6-20"]),
:root[data-selected-dayhour="6-21"] time.dayhour:not([data-daytimes~="6-21"]),
:root[data-selected-dayhour="6-22"] time.dayhour:not([data-daytimes~="6-22"]),
:root[data-selected-dayhour="6-23"] time.dayhour:not([data-daytimes~="6-23"]),
:root[data-selected-dayhour="6-24"] time.dayhour:not([data-daytimes~="6-24"]),
:root[data-selected-dayhour="6-25"] time.dayhour:not([data-daytimes~="6-25"]),
:root[data-selected-dayhour="6-all"] time.dayhour:not([data-daytimes~="6-all"]),
:root[data-selected-dayhour="all-9"] time.dayhour:not([data-daytimes~="all-9"]),
:root[data-selected-dayhour="all-10"] time.dayhour:not([data-daytimes~="all-10"]),
:root[data-selected-dayhour="all-11"] time.dayhour:not([data-daytimes~="all-11"]),
:root[data-selected-dayhour="all-12"] time.dayhour:not([data-daytimes~="all-12"]),
:root[data-selected-dayhour="all-13"] time.dayhour:not([data-daytimes~="all-13"]),
:root[data-selected-dayhour="all-14"] time.dayhour:not([data-daytimes~="all-14"]),
:root[data-selected-dayhour="all-15"] time.dayhour:not([data-daytimes~="all-15"]),
:root[data-selected-dayhour="all-16"] time.dayhour:not([data-daytimes~="all-16"]),
:root[data-selected-dayhour="all-17"] time.dayhour:not([data-daytimes~="all-17"]),
:root[data-selected-dayhour="all-18"] time.dayhour:not([data-daytimes~="all-18"]),
:root[data-selected-dayhour="all-19"] time.dayhour:not([data-daytimes~="all-19"]),
:root[data-selected-dayhour="all-20"] time.dayhour:not([data-daytimes~="all-20"]),
:root[data-selected-dayhour="all-21"] time.dayhour:not([data-daytimes~="all-21"]),
:root[data-selected-dayhour="all-22"] time.dayhour:not([data-daytimes~="all-22"]),
:root[data-selected-dayhour="all-23"] time.dayhour:not([data-daytimes~="all-23"]),
:root[data-selected-dayhour="all-24"] time.dayhour:not([data-daytimes~="all-24"]),
:root[data-selected-dayhour="all-25"] time.dayhour:not([data-daytimes~="all-25"]) {
    background: var(--pico-del-color);
    text-decoration: line-through;
}