{% import "macros.html" as macros %}
{% set hh_restaurants = restaurants | filter(attribute="kind.HappyHour") -%}
{% set byob_restaurants = restaurants | filter(attribute="kind.Byob") -%}
{% set other_restaurants = restaurants | filter(attribute="kind.Other") -%}
{% set closed_restaurants = restaurants | filter(attribute="kind.Closed") -%}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <title>Asbury Park Happy Hours</title>
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><strong>Asbury Park Happy Hours</strong></li>
              </ul>
              <ul>
                <li><a href="#restaurant-happy-hours">Happy Hours</a></li>
                <li><a href="#restaurant-byob">BYOB</a></li>
                <li><a href="#restaurant-other">Other</a></li>
                <li><a href="#restaurant-closed">Closed</a></li>
              </ul>
            </nav>
        </header>

        <main class="container">
            <section id="restaurant-happy-hours">
                <table>
                    <caption>Happy Hours</caption>
                    <thead>
                        <tr>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Links</th>
                            <th scope="col">Happy Hours</th>
                            <th scope="col">Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for restaurant in hh_restaurants -%}
                        {%- set happytimes = restaurant_convert_happytimes(happytimes=restaurant.kind.HappyHour.happytimes) -%}
                        <tr {{ happytimes.data_attributes }}>
                            <td>{{ macros::restaurant(restaurant=restaurant) }}</td>
                            <td>
                                {{ macros::map(restaurant=restaurant) }}
                                {{ macros::instagram(restaurant=restaurant) }}
                                {{ macros::menu(restaurant=restaurant) }}
                            </td>
                            <td>
                                {{ happytimes.human_readable }}
                                <details>
                                  <summary>Description</summary>
                                  <ul>
                                      {% for desc in restaurant.kind.HappyHour.description -%}
                                          <li>{{ desc | escape }}</li>
                                      {% endfor %}
                                  </ul>
                                </details>
                            </td>
                            <td>{{ restaurant.verified }}</td>
                        </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </section>

            <section id="restaurant-byob">
                <table>
                    <caption>BYOB</caption>
                    <thead>
                        <tr>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Links</th>
                            <th scope="col">Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurant in byob_restaurants -%}
                            <tr>
                                <td>
                                    {{ macros::restaurant(restaurant=restaurant) }}
                                </td>
                                <td>
                                    {{ macros::map(restaurant=restaurant) }}
                                    {{ macros::instagram(restaurant=restaurant) }}
                                </td>
                                <td>{{ restaurant.verified }}</td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </section>

            <section id="restaurant-closed">
                <table>
                    <caption>Closed</caption>
                    <thead>
                        <tr>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Links</th>
                            <th scope="col">Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurant in closed_restaurants -%}
                            <tr>
                                <td>
                                    {{ macros::restaurant(restaurant=restaurant) }}
                                </td>
                                <td>
                                    {{ macros::map(restaurant=restaurant) }}
                                    {{ macros::instagram(restaurant=restaurant) }}
                                </td>
                                <td>{{ restaurant.verified }}</td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </section>

            <section id="restaurant-other">
                <table>
                    <caption>Other</caption>
                    <thead>
                        <tr>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Links</th>
                            <th scope="col">Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurant in other_restaurants -%}
                            <tr>
                                <td>
                                    {{ macros::restaurant(restaurant=restaurant) }}
                                </td>
                                <td>
                                    {{ macros::map(restaurant=restaurant) }}
                                    {{ macros::instagram(restaurant=restaurant) }}
                                </td>
                                <td>{{ restaurant.verified }}</td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </body>
</html>
